<h1 class="my-4">Submit a Notice</h1>
<form onsubmit="return false">
  <div class="form-group">
    <label for="noticeTitle">Notice Title</label>
    <input type="text" class="form-control" id="noticeTitle" placeholder="Enter notice title">
  </div>
  <div class="form-group">
    <label for="noticeText">Notice Text</label>
    <textarea class="form-control" id="noticeText" rows="3" placeholder="Enter notice text"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" onclick="submitNotice()">Submit Notice </button>
</form>
</div>

<br /><br />